<div>
  Aquiiii
  <app-collapse-container>
    <app-collapse-header>
      <h1>Aqui vai o cabeçalho</h1>
    </app-collapse-header>
    <app-collapse-content>
      <h1>CORPOOO</h1>
      <h1>Aqui vai o cabeçalho</h1>
      <h1>Aqui vai o cabeçalho</h1>
      <h1>Aqui vai o cabeçalho</h1>
      <h1>Aqui vai o cabeçalho</h1>
      <h1>Aqui vai o cabeçalho</h1>
    </app-collapse-content>
  </app-collapse-container>
</div>
<div>
    <app-collapse-container>
      <app-collapse-header>
        <h1>Aqui vai o cabeçalho</h1>
      </app-collapse-header>
      <app-collapse-content>
        <h1>CORPOOO</h1>
        <h1>Aqui vai o cabeçalho</h1>
        <h1>Aqui vai o cabeçalho</h1>
        <h1>Aqui vai o cabeçalho</h1>
        <h1>Aqui vai o cabeçalho</h1>
        <h1>Aqui vai o cabeçalho</h1>
      </app-collapse-content>
    </app-collapse-container>
  </div>

