<nav class="side-nav-box"  >
  <div (click)="toggleMenu()" class="btn-toggle-menu">
    <div class="animated-menu" [class.open]="isOpen" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="nav-header">
      <div class="avatar"></div>
  </div>
  <div class="nav-search">
    <input type="text" class="input-search">
    <div class="icon-area"><i class="fas fa-search"></i></div>
  </div>
  <ul class="nav-itens">
    <li>
      <a href="#">Dashboard</a><i class="fas fa-chart-line"></i>
    </li>
    <li>
      <a href="#">Herois</a><i class="fas fa-chart-line"></i>
    </li>
  </ul>
</nav>
