<footer>
  <div class="content">
    <div class="contact">
      <div class="image"></div>
      <div class="infos">
        <div>Autor: Adrino P. Oliveira</div>
        <div>E-mail: drprado2@gmail.com</div>
      </div>
    </div>
    <div class="links">
      <div class="links-title"><strong>Links</strong></div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Outro link</a></li>
        <li><a href="#">Outro link</a></li>
      </ul>
    </div>
  </div>
  <div class="copyRight">
    Todos os direitos reservados Tour of Hero 2018&#169;
  </div>
</footer>
