/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

textarea:focus, input:focus{
  outline: none;
}
