<div *ngIf="isOpen" class="modal-overlay">
  <div class="modal">
    <h3 class="modal-header">
      <span class="title">Título do meu modal</span>
      <button (click)="close()" class="close-button reset-button-style"><i class="fas fa-times-circle"></i></button>
    </h3>
    <div class="modal-content">
      Conteúdo do modal vai aqui
    </div>
    <div class="modal-footer">
      <button class="button">Salvar</button>
      <button class="button">Cancelar</button>
    </div>
  </div>
</div>
