.login-container {
  width: 350px;
  margin: 40px auto;
  box-shadow: 0px 0px 7px 0px black;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.7);
  animation-name: login-in;
  animation-fill-mode: forwards;
  animation-duration: 1.9s;
  animation-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.13);

  .logo-area {
    height: 74px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .logo {
      color: white;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  .form-area {
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 10px;
      color: #333333;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      padding: 10px 16px;

      .input-group {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          display: block;
          color: #555;
          font-weight: bold;
          margin-bottom: 3px;
        }

        input {
          border: 1px solid #999999;
          border-radius: 4px;
          height: 28px;
          padding-left: 5px;
          padding-right: 5px;
        }

        .senha-label {
          display: flex;
          flex-direction: row;

          label {
            flex-grow: 1;
          }

          span {
            font-size: 0.8rem;
            font-weight: bold;
            color: #0d47a1;
            transform: translateY(3px);
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &.lembrar-me-area {
          display: flex;
          flex-direction: row;
          align-items: center;

          input[type=checkbox] {
            margin: 3px 0px 0px 8px;
          }
        }
      }
    }

      .btn-submit {
        height: 50px;
        font-weight: bold;
        border: none;
        font-size: 1.2rem;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color .33s ease;
        position: relative;

        &:not([disabled]) {
          &:hover {
            background-color: #333333;
            transition: .33s ease;
          }

        }

        &[disabled] {
          cursor: not-allowed;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.3);
          }
        }
      }
  }
}

@keyframes login-in {
  0% { transform: translate3d(0px, 75vh, 0px); }
  100% { transform: translate3d(0px, 0px, 0px); }
}

.fa-spinner {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


