<div class="form-area">
  <h3 *ngIf="hero.nome !== null">Detalhes do {{hero.nome}}</h3>
  <h3 *ngIf="hero.nome === null">Detalhes</h3>
  <form>
    <div class="input-group">
      <label for="id">Id</label>
      <input disabled type="number" name="id" id="id" [(ngModel)]="hero.id" >
    </div>
    <div class="input-group">
      <label for="name">Nome</label>
      <input type="text" name="name" id="name" [(ngModel)]="hero.nome" >
    </div>
    <div class="input-group">
      <label for="phone">Telefone</label>
      <input type="text" name="phone" id="phone" [(ngModel)]="hero.phone" >
    </div>
    <div class="input-group">
      <label for="test">Teste</label>
      <input type="text" name="test" id="test" [(ngModel)]="heroService.teste" >
    </div>
    <div class="btn-areas">
      <button [class.btnBlock]="hero.id === null" (click)="deleteHero()" class="btn-deletar" type="button">Remover</button>
      <button [class.btnBlock]="hero.nome === null" (click)="saveHero()" class="btn-salvar" type="button">Salvar</button>
    </div>
  </form>
  <h1>{{heroService.teste}}</h1>
</div>

